.btn {
  @apply inline-flex items-center justify-center
  transform
  scale-100
  bg-opacity-100
  transition-all
  /* default small size */
  text-sm font-semibold 
  px-4 py-2 shadow-sm rounded-md;
  svg {
    @apply w-4 ml-2;
    &.left {
      @apply mr-2 ml-0;
    }
    path {
      stroke: var(--dark-cl);
    }
  }
  .spinner::after {
    @apply block w-4 h-4 border-2 border-dark;
  }
  /* medium size */
  &.md {
    @screen md{
      @apply text-base px-6 py-3;
      svg {
        @apply w-6 ml-3;
        &.left {
          @apply mr-3 ml-0;
        }
      }
    }
    .spinner::after {
      @apply w-6 h-6;
    }
  }
  /* large size */
  &.lg {
    @screen md{

      @apply text-lg px-6 py-4;
      svg {
        @apply w-8  ml-4;
        &.left {
          @apply mr-4 ml-0;
        }
      }
      .spinner::after {
        @apply w-6 h-6;
      }
    }
    @apply text-base px-6 py-3;
    svg {
      @apply w-6 ml-3;
      &.left {
        @apply mr-3 ml-0;
      }
    }
    .spinner::after {
      @apply w-8 h-8;
    }
  }
  /* square-icon-btn */
  &.sq {
    svg {
      @apply w-6 m-0;
    }
    @screen md{
      @apply w-12 h-12;
      
    }
    @apply w-10 h-10 p-1;
  }
  /* flat btn */
  &.flat {
    @apply flex w-full;
    &.start {
      @apply justify-start;
    }
  }
  /* colors */
  &.white-primary {
    @apply text-primary;
    svg {
      path {
        stroke: var(--primary-cl);
      }
    }
    .spinner::after {
      @apply border-primary;
    }
  }
  &.primary {
    @apply bg-primary border-primary-dark 
    text-white;
    svg {
      path {
        stroke: white;
      }
    }
    .spinner::after {
      @apply border-white;
    }
  }
  &.dark {
    @apply bg-dark border-dark 
    text-white;
    svg {
      path {
        stroke: white;
      }
    }
    .spinner::after {
      @apply border-white;
    }
  }
  &.light {
    @apply text-primary bg-primary-light 
    border-primary;
    svg {
      path {
        stroke: var(--primary-cl);
      }
    }
    .spinner::after {
      @apply border-primary;
    }
  }
  &.danger{
    @apply bg-red-200 text-red-500;
  }
  &:disabled {
    @apply opacity-90 pointer-events-none;
  }
  /* no shadow */
  &.no-sh {
    @apply shadow-none;
  }
  &.no-pad{
     @apply p-0;
  }
  /* effects */
  &:active {
    @apply scale-95;
  }
}
