.form-input {
  @apply block w-full my-4;
  label {
    @apply block font-normal mb-1 ml-1;
  }
  .input {
    @apply block w-full px-4 py-3 border rounded-md 
    shadow-sm bg-gray-50 transition-colors;

    &:focus {
      @apply outline-none border-primary
      shadow-md bg-gray-100;
    }
  }
  textarea{
    min-height: 120px;
    @apply py-4;
  }
  &.has-err {
    input,
    textarea,
    select {
      @apply border-red-400 text-black;
      animation: shake 0.3s;
    }
  }
  small {
    @apply block mt-1 ml-2;
    &.err {
      @apply text-red-400;
    }
  }
}
.input-group {
  @apply grid  gap-5 items-start;
  .form-input{
    @apply my-1;
  }
  @screen md{
    @apply grid-cols-2;
  }
}

.checkbox-input {
  @apply inline-flex items-center;
  button {
    @apply mr-2;
  }
  svg {
    width: 28px;
    height: 28px;
  }
  &.has-err {
    animation: shake 0.3s;
    @apply text-red-400;
  }
}
